[2017-10-17 19:24] mark-gerarts opened #1 "Allow guessing of property names"
As it is now, the classes need to follow strict naming conventions in order to be mapped. A nice feature would be to be able to change this behaviour via the `Options`, making the mapper instead guess the source property name.

For example, when looking for the property `firstName`, the mapper would match the first occurrence of either [firstName, first_name, FirstName, ...].

[Credit](https://www

[2017-10-17 21:04] mark-gerarts opened #2 "Mapping::forMember(...) incorrectly throws an error"
The `InvalidPropertyException` is thrown when the provided propertyname doesn't exist on the source object. This should take into account the provided naming conventions (and the `FromProperty` operation).

For example registering a mapping from snake_case to camelCase and then calling `forMember` with a camelCase propertname will throw an error when it shouldn't

[2017-10-17 22:01] djmattyg007 opened #3 "How to handle support for mapping to stdClass"
PHPStan has configuration for something it calls "object crates". These are classes that are like stdClass, that just accept whatever you read and write to them by way of __get() and __set().

I'd lile to suggest that the best way to support mapping to stdClass would be a generic system such as this, where you configure a destination class as an object crate, and everything is just written as-is.

[2017-10-18 06:25] mark-gerarts commented on #3
I'll definitely look into this, and how it's implemented in PHPStan. Thanks for the suggestion!

[2017-10-18 19:13] mark-gerarts opened #4 "Contributions welcome"
This is a young library, meaning there is lots of room for improvements, bugfixes and new features. Contributions of any kind are very much appreciated!

Some things that need work & general ideas:
- While the **documentation** is pretty thorough, I feel there are some things that can be explained better. There are bound to be spelling mistakes as well.
- The **tests** definitely need a look. They

[2017-10-19 17:26] #2 closed

[2017-10-23 21:15] samrap commented on #1
I am currently reading through the source to wrap my head around the architecture of this package. I'd really like to be a major contributor to this down the line.

There are clearly some arguments for and against this feature so I definitely think it should be something that must be explicitly set in the `Options`. Maybe something like:

[code]

The method `withoutNamingConventions()` could simpl

[2017-10-24 11:34] mark-gerarts commented on #1
That's definitely a step in the right direction. Using a `NoNamingConventions` is an option, although it might be more fitting to put this logic in a `NameResolver`, either adding logic to the [default one](https://github.com/mark-gerarts/automapper-plus/blob/master/src/NameResolver/NameResolver.php) or creating a completely new one. The advantage here being that the `NameResolver` can already be

[2017-10-31 11:07] ma4eto opened #8 "Mapping operations without source property required"
There is a `@TODO`  on `AutoMapperPlus\Configuration\Mapping::shouldCheckForSourceProperty()` method.

Indeed certain operations needs extra Interface to skip property existence check.

For instance, I don't want certain properties to be mapped into destination object. The way it works now is perfect (with `Ignore` operation) but there is one problem: when I specify this operation on virtual prope

[2017-10-31 12:15] mark-gerarts commented on #8
Yes, these are very valid points. In fact, as a short term solution I removed the checking of source properties entirely a few days ago, in https://github.com/mark-gerarts/automapper-plus/commit/a9e5590d2bcb08f84ef46c96ac0d30361923a3fa. This isn't part of release yet though, it's only available on `dev-master`. So if this is causing you problems, you can check out this version for now.

The reason

[2017-10-31 12:23] ed-posinitskiy commented on #8
Thank you for such a quick response! As a workaround I made a custom Operation extended from `MapFrom` operation to skip property check.

[2017-12-01 22:30] yhnehc opened #9 "Not mapping proxy classes from doctrine lazy load"
When you do lazy loading sometimes the objects come back as a proxy class which breaks since there's no mapping config registered for the proxy classes.

Example of the error:
No mapping registered for converting an instance of class Proxies\CG\Bundle\Entity\ProductItem into one of \ProductItemDto

[2017-12-01 22:34] yhnehc opened #10 "Not mapping extending classes"
if classA entends classBase. All attributes lived in classBase. After mapping, will get an empty class A object.

In my case, I have classA extends classBase.
 I want map classA to ClassADto. my class have a list of classA.
after mapping, I get a list of empty classADto.

[2017-12-02 12:56] mark-gerarts commented on #10
That is definitely unwanted behaviour. I'll try to look into it this weekend.

[2017-12-02 12:59] mark-gerarts commented on #9
Could you provide some sample code for this? That would help a lot to figure out this issue!

[2017-12-02 15:33] mark-gerarts commented on #10
This should be fixed in the new release (v1.0.6). If you still have problems, feel free to reopen this issue.

[2017-12-05 13:25] ed-posinitskiy commented on #8
Thanks for update!

[2017-12-05 13:25] #8 closed

[2017-12-05 17:42] yhnehc commented on #10
Thanks for doing this. I'm still getting some problems. I use a get method in base class, but I'm getting that method not found in extending class.

class A extends class B{
}

class B{
public $x;

public function setX(){}
}

I'm Mapping class A and get Attempted to call an undefined method named \"setX\" of class \"class A".

[2017-12-05 18:10] mark-gerarts commented on #10
Weird, methods should remain unchanged. I'm not entirely sure if I understand the situation correctly though. Could you explain which class you're mapping exactly? Class A to a DTO, or a DTO to class A?

If you can provide a code sample of how you defined the mapping, that would help as well!

[2017-12-05 18:11] yhnehc commented on #10
Im mapping class A to DTO

[2017-12-05 18:44] mark-gerarts commented on #10
I've tested using the following setup: [gist](https://gist.github.com/mark-gerarts/030b4ad315ad72c72fd23fb834f66600). This seems to work fine.

[2017-12-07 23:33] yhnehc commented on #10
I see the difference. I use a private property instead of public property.

[2017-12-07 23:46] dingledorf commented on #9
He's referring to whats happening in this article:

https://www.uvdesk.com/en/blog/doctrine-proxy-objects-lazy-loading/.

The current work around is to use fetch EAGER, I'm not sure if you guys can do anything.

[2017-12-08 12:33] mark-gerarts commented on #9
Have you tried calling the getter explicitly?

[code]

This should create a proper instance out of the proxy object, if I'm not mistaken.

[2017-12-08 21:50] dingledorf commented on #9
I think the problem is that these proxy classes appear to be dynamically made by Doctrine so you have no way to register the mapping.

[2017-12-08 22:39] ErikJson commented on #9
Perhaps a solution could be to, optionally, allow for AutoMapper to look at the parent class of `$from` for a matching mapping?

[2017-12-09 21:22] mark-gerarts commented on #9
Alright, I understand the situation now. @ErikJson I think looking at the parent class wouldn't help, because the proxy object still won't be initialized. The exception would no longer be thrown, but there wouldn't be any data to map (correct me if I'm wrong).

One solution could be to provide a way to 'prepare' the source object. Something like this for example:

[code]
Then we could also provide

[2017-12-14 21:23] mark-gerarts commented on #10
I tested with the sample code in the gist again. Making either property private still doesn't give me any errors, and the mapping keeps working correctly.

Can you provide a small piece of sample code for which you're getting the error? I've tried a bunch of setups, but can't reproduce this :(

[2017-12-26 17:57] smoelker commented on #3
Any progress on adding this feature?

[2017-12-26 20:35] mark-gerarts commented on #3
I haven't started on this yet, as it looks it might take some time to do it right. I'll look into it come next week, since I'm a bit busy this week (holidays).

[2018-01-03 22:33] mark-gerarts commented on #3
This is available as of release 1.1.0. I'm closing this, but feel free to reopen / create a new isue if you encounter problems :)

[2018-01-03 22:33] #3 closed

[2018-01-19 22:21] stesvis opened #12 "Can't blank properties"
First of all I am a big fan of the .NET AutoMapper and thank you so much for creating this for PHP!

Is there a way to blank out properties?
For example if my source object has a property like this:
[code]

the AutoMapper will ignore it. My goal is to ignore it if null, but to overwrite it if it's an empty string.

Basically if someone wants to delete an optional text field, they can't.
Maybe ther

[2018-01-20 08:41] mark-gerarts commented on #12
Hi there,

I want to make sure I understand the situation correctly. Let's say you have this setup:

[code]

Am I correct that you want to achieve the following:

[code]

[2018-01-20 15:39] stesvis commented on #12
Thanks for your prompt reply.
Yes that would be the ideal scenario.

Right now in both cases after the mapping b->description is always 'some value'.

It seems that the mapping is ignored unless a->description is not empty and not null.

[2018-01-20 18:17] mark-gerarts commented on #12
Alright, I'll try to look into this the following days/weeks. I'm either gonna provide an option to achieve this behaviour, or implement a new operation.

One small thing though, which version are you using? I tested the sample code using the latest version, and there `$b->description` would always be overwritten, instead of it remaining 'some value'. This seems a bit weird to me, unless you're us

[2018-01-31 20:43] stesvis commented on #12
Thanks,
this is what I have right now:
`"mark-gerarts/auto-mapper-plus": "^1.1",`

I have one more question:

**Model: Guide** has some relationships
[code]

**DTO: GuideDTO** has the matching properties

[code]

**Mapper config**
[code]

**ISSUE**

`$mapper->map($guide, GuideDTO::class);`

bikes: "App\\Models\\Guide::bikes must return a relationship instance."
tours: is properly mapped

NOTE: If

[2018-01-31 20:56] stesvis commented on #12
Actually I am wrong, I don't seem to be able to ignore $guides.
This still gives me the same error:
[code]

How can I tell it to not map $guides, so i can do it manually?

[2018-02-01 19:33] mark-gerarts commented on #12
Thanks for the detailed write-up! This'll definitely help with debugging. Unfortunately, I don't have much time to take a look at this issue at this moment. I'll try to get back to you next week!

[2018-02-07 19:17] stesvis opened #13 "Map NULL objects"
Hi, in this case:
`$dto = $mapper->map($john, EmployeeDto::class);`

if $john is null, the mapper throws an exception:

Shouldn't it just set $dto to NULL as well?

[2018-02-07 20:25] mark-gerarts commented on #13
Hi, that's a valid point. I hadn't given this any thought yet before. I've submitted a commit (& release) which changes this!

[2018-02-07 20:25] #13 closed

[2018-02-08 00:36] stesvis commented on #13
Thanks!

[2018-02-09 21:12] stesvis opened #14 "Limit the mapping levels"
Is there a way to limit the level of the mapping?

Basically the same as the .Net AutoMapper.MaxDepth()
https://github.com/AutoMapper/AutoMapper/blob/835261c00c072f3e08232f0cd86d40750e109690/src/AutoMapper/Configuration/MappingExpression.cs#L86

[2018-02-09 21:36] mark-gerarts commented on #14
Not yet - but I'll add it to the roadmap, as it is a nice feature to have.

[2018-02-09 22:05] stesvis commented on #14
Thanks.
With objects that reference each other it could end up in an infinite loop..

[2018-03-14 23:19] wgnd93 commented on #9
I do the following:

`use DoctrineProxies\__CG__\App\Entities\MyEntity as MyEntityDoctrine;

$config->registerMapping(MyEntity::class, MyEntityDTO::class)
->forMember("myEntityProperty", Operation:mapTo(MyEntityDTO::class));

$config->registerMapping(MyEntityDoctrine::class, MyEntityDTO::class)
->copyFrom(MyEntity::class, MyEntityDTO::class);`

[2018-03-14 23:20] wgnd93 commented on #9
I do the following:
`php
use DoctrineProxies_CG_\App\Entities\MyEntity as MyEntityDoctrine;

$config->registerMapping(MyEntity::class, MyEntityDTO::class)
->forMember("myEntityProperty", Operation:mapTo(MyEntityDTO::class));

$config->registerMapping(MyEntityDoctrine::class, MyEntityDTO::class)
->copyFrom(MyEntity::class, MyEntityDTO::class);

php`

[2018-03-14 23:30] wgnd93 commented on #9
I do the following:

[code]

[2018-03-14 23:30] wgnd93 commented on #9
I do the following:

[code]

[2018-04-10 08:47] ostrolucky opened #16 "Nested mapping, where collection element needs to have parent assigned to its property"
In following example, we didn't find a way how to replicate following in Automapper. We don't think it's possible without very custom things.

[code]

Using Operation::mapTo like following is close, but $optionsDTO#answerSet will be null, or it will just copy same object over:
[code]

So, if `$answerSetDTO#options[0]#answerSet#id = 1` and `$duplicateAnswerSetDTO#id = 2`, we want `$duplicateAnswerS

[2018-04-10 19:11] mark-gerarts commented on #16
You are right, you can't do this with the Automapper (yet). It is, however, an interesting usecase. I have some ideas on how to resolve this, but I'm gonna need some time to test things out.

Thanks for bringing this under my attention, I'll keep you posted!

[2018-04-10 19:16] #4 closed

[2018-04-11 11:11] smoelker opened #17 "Combine Operation::fromProperty and Operation::mapTo"
I'm trying to map a nested property (using mapTo) where the source property name and the target property name are different but I can't seem to find a way.

I tried mapTo and fromProperty combined:
[code]
I tried a mapTo combined with a name resolver:
[code]
None of them seem to work.

I suspect that MapFromWithMapper would do the trick but that change has not been published to packagist it seems.

[2018-04-11 11:27] mark-gerarts commented on #17
You are right, `MapFromWithMapper` should be a solution for this. I'll bump the version so it'll become available on pacakagist.

I'll look into the following things later:

- I would expect your solution with the nameresolver to work. I'm gonna test that a bit to see what went wrong.
- I'm gonna think about combining the 2 operations in a way (new operation, or an extra parameter).

[2018-04-11 11:35] smoelker commented on #17
A new operation that is also fluent would be convenient, like this:
[code]
Just a suggestion :)

[2018-04-11 16:24] mark-gerarts commented on #17
The nameresolver not working in your example was indeed a bug. I've fixed it on master, so if you want to use that, you can pull the latest version. Meanwhile I'm gonna start looking into your suggestion and see what I can do. No promises though :)

[2018-04-14 17:56] mark-gerarts commented on #17
`FromProperty` has been extended to allow chaining as you suggested. It's sitting on master for now, so it'll be included in the next release.

[2018-04-14 17:56] #17 closed

[2018-05-05 21:07] ostrolucky commented on #16
Hey mark, any news about this? Would love to hear about your ideas at least!

[2018-05-06 11:47] mark-gerarts commented on #16
Hi @ostrolucky,

I've been playing around with this for a while, but I haven't found a good solution. My idea was the following:

1. Create a cache for mapped items based on their object reference
1. When mapping a property, check if it references an object that exists in this cache, and use the cached version
1. Otherwise add the result to the cache

I was able to implement this, and it worked ju

[2018-05-06 12:49] ostrolucky commented on #16
Agreed 100%. I'm definitely not asking to try to guess this automatically, that would produce false positives. I just want some way to configure mapping for this use case.

Something I had in mind was to allow to use custom closures where we could do anything we want. In this example, it could be used following way:

[code]

or even for arrays via parent

[code]

I like PropertyAccess component us

[2018-05-14 18:23] mark-gerarts commented on #16
That's a really great suggestion. I'll definitely look into using a decorated PropertyAccess component. nelmio/alice is a great example as well.

For the problem with the references, however, I don't see how your example could be a solution. Normally, an operation would receive the object being mapped. So `Parent $parent` in your second snippet would be the source object, and `$child->setParent($p

[2018-05-15 08:31] ostrolucky commented on #16
Yes, idea is to pass resulting object and its parent

[2018-07-26 06:06] mschop opened #20 "Mapping to child classes"
Hi,

I'm trying to use automapper-plus in the latest version (1.2.1) with Entity classes used in doctrine ORM. Doctrine ORM creates Proxy-Classes that inherit from the Entity class for adding additional stuff (e.g. loading assosiations).

My problem is, that automapper-plus seems not to work in this case. When trying to map from the proxy class to the target object, it says:

[code]

I think this

[2018-07-26 06:10] mschop commented on #20
Ahhh sorry. Didn't see the other issue on this topic. #9 . This issue can therefore be closed.

[2018-07-26 06:32] mark-gerarts commented on #20
You do have a point about the substitution. While #9 addresses the Doctrine issue, I'll keep this one open for checking if substitution works correctly.

[2018-07-26 07:09] mschop commented on #9
@mark-gerarts I've added a suggestion for resolving this issue in PR #21 .

[2018-07-26 07:38] mschop commented on #20
@mark-gerarts #9 seems to be just this substitution problem. I have fixed my problem in the app by doing this:

[code]

Maybe not the best solution, but work for me in the first step

[2018-07-26 15:23] BoShurik opened #22 "Map to nested objects"
Hello! I have the following code:
[code]

Output:
[code]

Expected output:
[code]

Reproducer: https://github.com/BoShurik/automapper-plus-issue

[2018-07-26 18:05] mark-gerarts commented on #22
Hi. First off, I appreciate you took the effort to create a small project to reproduce the issue. Really helpful!

Now, the problem here is that the `ItemDTO` does not have a `$price` property. So when an `ItemDTO` gets mapped back to an `Item` again, we don't have any way of knowing what the original price was. Adding a `$price` property to the DTO would solve the problem. If this isn't an option

[2018-07-26 18:09] mark-gerarts commented on #9
Reopening because I want to test if #21 actually fixes this issue

[2018-07-26 19:51] BoShurik commented on #22
Yes, but if we add `price` property to `Order` and not add it to `OrderDTO` we will have the right value at the third step for that field. Maybe there is a way to pass destination object somehow? May custom mapper help?

[2018-08-26 10:32] r-alexandr commented on #9
I have the same problem with proxy classes of doctrine.
Object A has a reference to object B. I get object A without loading B.  I map object A into Adto1. Adto1 has no related objects. It's all good. Then I get object A with forced load B. I map object A into Adto2. Adto2 has an associated Bdto object. I get an error:
"No mapping registered for converting an instance of class Proxies\\__CG__\\App

[2018-08-26 13:22] mark-gerarts commented on #9
Hi @r-alexandr. I've tested your example, and the issue seems fixed with PR #21. I've tagged a new release containing this fix (1.2.2), so if you run a `composer update mark-gerarts/auto-mapper-plus` the exception should disappear. If you still run into problems, feel free to reopen.

[2018-09-06 07:43] ayacaste opened #25 "Problem with mapping substr names properties"
Hello! I updated from 1.2.1 to 1.2.2 and found a bug, example code:
[code]
Output:
[code]
Problem in \AutoMapperPlus\PropertyAccessor\PropertyAccessor::getPrivate

[2018-09-06 07:55] mark-gerarts commented on #25
Hi, this most likely has to do with [this commit](https://github.com/mark-gerarts/automapper-plus/commit/1eaf23f4d011219dd240db075d08e401ae76ae33). I'll try to take a look at it this evening, since this is a pretty severe bug. I'll keep you posted.

[2018-09-06 08:06] ayacaste commented on #25
Ok, thank you.

[2018-09-06 11:06] #25 closed

[2018-09-06 11:11] mark-gerarts commented on #25
I found some time to fix this a bit earlier; I've drafted a new release for it. If you still have issues, feel free to reopen. And thanks for the detailed bug report btw!

[2018-09-06 12:26] ayacaste commented on #25
Cool, thanks a lot!

[2018-10-02 14:46] Koronos commented on #12
Any new about this?

[2018-10-02 15:17] mark-gerarts commented on #12
I have to admit I kinda lost this one out of sight. I can't make any promises when this will be resolved as I'm a bit busy the following weeks. Anyway:

- The issue might have been resolved already due to a previous fixed issue involving Doctrine. The first step would be to check this.
- The feature request is still open to implement. I'll look into this after the first issue has been resolved.

[2018-10-09 11:50] BoShurik opened #26 "Doctrine proxies are not supported"
The problem is here: https://github.com/mark-gerarts/automapper-plus/blob/master/src/PropertyAccessor/PropertyAccessor.php#L95-L102

[code]

`get_class($object)` returns proxy class name. This scope does not have access to private properties. Sadly this code does not throw any exception.

[2018-10-09 15:27] mark-gerarts opened #27 "Mapping to \stdClass fails with private properties"
Config:

[code]

Entity:
[code]

Mapping:

[code]

Expected: `stdClass` with ID and name properties
Actual: `Cannot access private property App\Entity\Category::$id`

[2018-10-09 15:33] mark-gerarts opened #28 "Passing a scalar to `map` should throw an InvalidArgumentException"
When for example an array is passed to `map`, `get_class` will trigger an error. It would be better to check the type and throw an `InvalidArgumentException` if needed. In the future, we could add mappings from scalars (such as arrays, #18)

[2018-10-09 15:51] mark-gerarts commented on #26
Hi. I've created a repository that reproduces this issue: https://github.com/mark-gerarts/automapper-plus-issue-26.

So, when we try to map a `Product`, we get a `Category` with only its ID set (screenshot). This is because of the way Doctriny lazily loads entities using properties. This is the issue you're having, right?

![image](https://user-images.githubusercontent.com/11940560/46681245-197a52

[2018-10-09 21:15] BoShurik commented on #26
Almost. In my case pass proxies to `mapToObject` method
[code]
(In rare cases it is possible to get proxy object when using DoctrineParamConverter)

As a workaround I've used a custom PropertyAccessor:
[code]

[2018-10-10 13:07] mark-gerarts opened #29 "Allow callable as alternative to custom mapper"
It would be nice to be able to map an entire object with a callable/closure, as an alternative to creating a custom mapper. E.g. the following:

[code]

Would become something like this:

[code]

[2018-10-11 19:52] mark-gerarts commented on #26
Alright. I've been able to reproduce this. I'll experiment with decorating the Symfony PropertyAccessor for cases like this, similarly to what you did here (and discussed in #16). It might be added in a future version then.

That being said, wouldn't the following solve your issue as well, without the need for a custom accessor (assuming detached state is the problem):

[code]

[2018-10-11 20:07] BoShurik commented on #26
In my case `ProductDto` does not contain an `id` property.
Fortunately architecture allow to easily change `PropertyAccessor`'s implementation

[2018-10-11 20:25] mark-gerarts commented on #26
Ah yeah, a merge wouldn’t work then. Good thing you’ve got a workaround! I’ll keep this issue open until I’ve had the chance to experiment with the property accessor component. Thanks for the discussion!

[2018-11-03 12:44] mark-gerarts commented on #27
Fixed in 693a7e5, will be included in the next release.

[2018-11-03 12:44] #27 closed

[2018-11-07 19:38] mark-gerarts commented on #12
I've had some time to review your issue @stesvis. It seems to be that Eloquent's __isset method checks if a property could represent a relationship. Since your `bikes` method doesn't actually return a relationship, but a query result, an exception gets thrown. Returning for example `$this->hasMany(...)` instead in the `bikes` method, results into a mapped DTO. However, this'll likely change the be

[2018-11-07 22:34] stesvis commented on #12
Thanks for looking into it!

[2018-11-10 14:24] mark-gerarts commented on #12
It is now possible to ignore `null` properties on the source object by using `$options->ignoreNullProperties()`. This is available on master, and will be part of the next release.

[2018-11-19 08:53] vasilake-v commented on #26
I think unproxy-ing doctrine entities is not a "mapper" responsibility, because it may lead to unwanted/unpredictable behavior. You could get mapped properties where you don't need them and make extra SQL queries without any reason.
Of course, all depends on your project, your needs and how resource heavy is your doctrine entity.
I would suggest, having the entity member with `fetch=lazy` and wher

[2018-11-19 10:08] mark-gerarts commented on #26
Hi @slava-v, definitely agree with all your points. You don't want a third-party library to start loading your entities and performing queries. I was thinking to maybe provide a Doctrine-specific accessor you could enable via options. It's not a high priority at the moment though.

Your proposed solution is a good one in the meantime. To summarize, you could either:
- Ensure your referenced entiti

[2018-11-19 10:26] BoShurik commented on #26
Set the fetch mode to eager only for the relevant query

This will not work for ODM (my case)

[2018-11-19 10:33] BoShurik commented on #26
Anyway, in case of Liskov Substitution Principle this example should work, but it did not:
[code]

[2018-11-19 12:06] mark-gerarts commented on #26
Hi @BoShurik, which version of the library are you using? I did a quick test with your sample code, and it seems to work fine on master. Adherence to the substitution principle was added in 1.2.2, so maybe you're using an older version.

[2018-11-19 12:10] BoShurik commented on #26
`1.2.3`

[code]

[2018-11-19 12:13] BoShurik commented on #26
I tried `master` but result is the same

[2018-11-19 17:36] mark-gerarts commented on #26
My test was too quick it seems :) I've implemented a fix for this on master. I'll be drafting a new release in the following days!

I'll close this issue, but if you still encounter problems, feel free to reopen or create a new one.

[2018-11-19 17:36] #26 closed

[2018-11-20 20:13] BoShurik opened #30 "[RFC] Context aware operations"
Hello!

I have the following use case: https://gist.github.com/BoShurik/7aafc932e9dcf74be2196a09d6da15bd

To build children elements I need access to parent object
[code]

I suggest to use context:
[code]

Not sure, but may be it solves problem described in #16

[2018-11-20 21:02] mark-gerarts commented on #30
Hello @BoShurik. I like this suggestion, it seems really useful. I've skimmed through the code a bit, and it certainly seems possible to implement. However, to be consistent I think I would want to pass the context to every operation (where it makes sense), and not make a specific `mapFromWithContext`. This way you could just do something like this:

[code]

I'm gonna give this some more tought, a

[2018-11-21 06:45] BoShurik commented on #30
It was my next suggestion :)

[2018-11-24 11:08] mark-gerarts commented on #30
Hi @BoShurik. The feature has been implemented on the `feature/context` branch. You can view the documentation [here](https://github.com/mark-gerarts/automapper-plus/tree/feature/context#adding-context). If you have any remarks or suggestions, let me know. Otherwise I'm merging it into master and tagging a new release.

[2018-11-24 11:35] BoShurik commented on #30
Looks good to me

[2018-11-26 16:24] mark-gerarts commented on #30
Released in 1.3.0! :tada:

[2018-12-30 10:13] #22 closed

[2019-01-26 14:57] Scharpp opened #33 "Dto Object's property mapped in the wrong destination field"
Hi,

Since update 1.3.0, I perceive a mapping problem.

I have two objects represented as follows :
- **UserDto**
- **User** (model object)

[code]

The above configuration is very simple. Despite this, the library has a rather strange behavior since, as we can see, the **phone** property is mapped in **cellphone**. The above configuration is however simple.

In another case, if I pass only the **

[2019-01-27 09:38] #33 closed

[2019-01-27 09:42] mark-gerarts commented on #33
Hi @Scharpp, thanks for bringing this to my attention. I've tracked down the bug and published a fix for it in release 1.3.3. Sorry for the inconvenience!

[2019-02-07 18:05] VitaliiIsaenko opened #34 "Nested mapping with array as a source"
Hi! I have a problem with nested object filling with array as a source. Is it possible with AutoMapper? Here is what I'd like to do, I attach a sample code. Could you have a look, please?
[code]
I know that the example looks strange and therefore give you some context. I have an `address` table in my database. It has fields like `countryId` and `cityId`. I don't want to get the city and country wi

[2019-02-07 18:52] mark-gerarts commented on #34
Hey, are you in control of how your source data looks? The `$source` data doesn't resemble the structure of the parent-child relation you are trying to map. This makes the mapping a bit difficult. I'd expect the input data to look like this:

[code]

This way you could just define your mapping like this:

[code]

(You need the `true` in your mapTo, see the comment just below [here](https://github.

[2019-02-07 18:57] VitaliiIsaenko commented on #34
That's an amazing explanation. I was thinking about these ways and you are right that they are perfectly valid and my example is too unintuitive.
Thank you again for the explanation!

[2019-02-08 07:34] #34 closed

[2019-02-12 16:50] fnash opened #35 "AutoMapperConfig::getClassDistance should consider interfaces"
Hello,

It would be nice registering mapping for an interface, making the code below possible for unknown types:

[code]

AutoMapperConfig::getClassDistance should consider interfaces with **class_implements** if no result with **class_parents**

[2019-02-12 18:11] mark-gerarts commented on #35
Well, I hadn't actually considered this before, but it sounds like a must-have feature. The important thing to keep in mind is (as you suggested) that we only check for the interface if we don't find a registered class. This because a class is more specific than an interface.

I'll take a look into this in the coming weeks, I'll keep you posted. Thanks for the suggestion!

[2019-02-12 19:09] BoShurik commented on #35
Note, that interface is about methods, so we don't know about properties in such case. Looks like we should allow only `MapFrom` operation

[2019-02-13 09:02] fnash commented on #35
@BoShurik I didn't read the code. Do automapper actually know about properties if a mapping is registered for a concrete class?
If it is done at runtime for classes so it must be the same for interfaces.
I understand your point of view but I think it is up to the developer to assume errors of a mapping for an interface.
Anyway, interface may not have methods. It is only about contract. And that is

[2019-02-15 18:59] mark-gerarts commented on #35
You're right @BoShurik, since interfaces only specify which methods are available we don't know anything about the properties. Next to `MapFrom`, `Ignore` would be a perfectly valid operation as well (there might be others).

But I can totally understand @fnash's opinion as well. Leave the user responsible to provide sensible input to the mapper, not restricting their ability to define operations.

[2019-02-28 11:48] Jean85 opened #36 "Registering mapping for child properties"
I'm currently trying to use the automapper to solve this problem:

I have multiple objects to map, and I have multiple `\DateTime` properties in those; I would like to map all of those to the same format\DTO. I have set up everything correctly, but every time that a source object has a `\DateTime` property, I'm forced to call `->forMember('field', Operation::mapTo(DateTimeDto))`.

Is there any way

[2019-02-28 19:24] mark-gerarts commented on #36
Hi @Jean85, that's a valid point. Unfortunately there's no way to do that (yet), but since it's a nice thing to have I'm willing to implement it. I'm however not sure on what a good API would be to configure this. Maybe something like:

[code]

What are your thoughts about this?

---

As I was typing this out I think I figured out a way to do this. This is a hacky workaround, so I'm definitely sti

[2019-02-28 20:32] BoShurik commented on #36
Maybe we can use existing `AutoMapperPlus\Configuration\AutoMapperConfigInterface::registerMapping`?

[code]
And use this mapping for all DateTime objects if there is no explicit mapping for property

[2019-03-05 17:08] VitaliiIsaenko opened #37 "Map object to array?"
There is often a need to transform an object to associative array and I haven't found any good solutions for this.  Even having some libraries they change a standard way to do such manipulations it in the project as we use the automapper-plus ;)
I've read somewhere that there is a plan to implement such a feature but in the next version because it has some breaking changes. Is it correct?
Anyway,

[2019-03-05 17:42] mark-gerarts commented on #37
Well, are you willing to use this library on an unstable/dev branch? If so, I'll spend some time next weekend to set up a new branch and tag it as 2.0.0-alpha1 (or something similar). I'll implement the mapping to array on this branch, so you could use it already.

[2019-03-06 09:03] VitaliiIsaenko commented on #37
That would be perfect! Would work for me.
Thank you a lot!

[2019-03-17 12:38] mark-gerarts commented on #37
I've just tagged a `2.0.0-alpha1` version where it is possible to map to an array. I've taken the opportunity to make some other BC-incompatible changes as well. You can find an overview of the changes [here](https://github.com/mark-gerarts/automapper-plus/blob/2.0/UPGRADE-2.0.md).

Please let me know if you encounter any problems!

[2019-03-18 07:31] VitaliiIsaenko commented on #37
Nice, will try it today!
Thank you so much!

[2019-04-06 09:29] mark-gerarts commented on #35
Using interfaces is available in 1.3.5 now. There are no restrictions on the operations, but  this might be added in the future.

[2019-04-06 09:29] #35 closed

[2019-04-10 00:07] juliocgs commented on #36
Hi, any news on this?
Also, unfortunately the workaround does not work when the property is mapped using Operation::fromProperty().

[2019-04-15 17:04] mark-gerarts commented on #36
You are right, the workaround only applies to the default operation (and some other classes). I've looked into the issue a bit deeper, and a real fix looks a bit more difficult than I first expected. Internally the automapper doesn't care what type the source properties are, it only looks at the property names. Because of this reason, it would introduce quite a bit of overhead to type-check every

[2019-04-16 22:47] juliocgs commented on #36
Hi.

Instead of a method where we set default mapping to a class. It is possible to use the mappings that are already registered? That way, there is no reason to always type-check for defaults.
Whenever a child property is going to be processed, it's type is checked and it's looked in all the mappings already registered. Unless Operation::mapTo() is used, because the type is already given.

Just l

[2019-08-05 12:47] Toilal opened #40 "CustomConstructor callable should have destinationClass parameter"
Maybe I miss something, but I try to implement a custom constructor that grabs entities from a Doctrine repository.

But it doesn't seem to be possible because the constructor callback doesn't get `$destinationClass` as parameter to retrieve which class to instanciate.

https://github.com/mark-gerarts/automapper-plus/blob/e0a411b4556865c6b9323b1af30814374df321fd/src/AutoMapper.php#L69-L76

I think

[2019-08-05 13:19] mark-gerarts commented on #40
Could you give a bit more context for this, with maybe a small example? It sounds like you want to have some sort of factory class, for which it would be more suited to use a custom mapper ([docs](https://github.com/mark-gerarts/automapper-plus#using-a-custom-mapper)) than a custom constructor. In the snippet you linked you can see that a custom mapper does in fact receive the destination class as

[2019-08-05 13:41] Toilal commented on #40
I didn't noticed the `AutoMapper::DESTINATION_CONTEXT` thing inside docs.

I just give it a try to this option, but it doesn't work. In the constructor callable, context is still empty in the debugger. When reading sources, it seems to be defined only when invoking `mapToObject`, and is not defined when using `map` function. Maybe a new `AutoMapper::DESTINATION_CONTEXT_CLASS` key could be introduc

[2019-08-05 14:17] Toilal commented on #40
I have tried to implement a custom mapper, but I can't find a way to invoke the default mapping strategy after creating the instance.

[code]

[2019-08-05 14:55] Toilal commented on #40
I have opened a pull request that solves my issue.

[2019-08-05 15:08] mark-gerarts commented on #40
I see, using a custom mapper wouldn't work (without some hacky stuff) since you need to fall back to the regular mapper. In this case it would make more sense to decorate the AutoMapper.

However, I can see the usefulness of adding the destination class to the context, so I'm going to merge your PR (#41). This way you can choose which solution you prefer, be it decorating or using the constructor.

[2019-08-05 15:08] #40 closed

[2019-08-07 08:03] Toilal opened #42 "$context is commented in interfaces"
Is there any reason for `$context` parameter to be commented in interfaces ?

I'm using PHPStan and it raise an error when typing with `AutoMapperInterface` and trying to use context.

https://github.com/mark-gerarts/automapper-plus/blob/88145c341c95277918636d21707626ab4f299230/src/AutoMapperInterface.php#L27 https://github.com/mark-gerarts/automapper-plus/blob/88145c341c95277918636d21707626ab4f29

[2019-08-07 08:10] mark-gerarts commented on #42
The reason it is commented is because it was added after the 1.0 release, and would otherwise break existing implementations. It will be explicitly added in the 2.0 version.

I don't know if there is a way I can annotate the methods so that PHPStan stops complaining? Maybe adding a `@param` would be enough, I'll have to experiment a bit.

[2019-08-07 08:45] mark-gerarts commented on #42
Okay, so far the only solution I've found is to ignore the errors in your PHPStan config:

[code]

I don't really like this solution because I'd rather fix it in the library itself. So unless anyone has a better idea I'm going to create a PHPStan extension with the above config and make it auto-installable with [phpstan/extension-installer](https://github.com/phpstan/extension-installer). Then I c

[2019-08-07 11:35] Toilal commented on #42
Thanks for the explanations, i'll just ignore the error in PHPStan at the moment.

[2019-08-07 11:35] #42 closed

[2019-08-08 19:05] mark-gerarts commented on #42
I've provided the workaround as a separate package. See the explanation and usage instructions [here](https://github.com/mark-gerarts/phpstan-automapper-plus).

[2019-08-09 17:18] #37 closed

[2020-01-11 10:32] tommyiraone opened #49 "Copy values rather than create a new instance?"
How do I copy values from a source object to an existing destination object rather than create a new one?

maybe like..
$mapper->map($sourceObject, $destinationObject) ??

[2020-01-11 11:26] mark-gerarts commented on #49
Hi @tommyiraone. Which version are you using? In 1.x you can do the following:

[code]

In 2.x (beta) this is part of the `map` function, meaning your example would work.

[2020-01-11 11:57] tommyiraone commented on #49
I'm using 1.x
sorry for that, I think I have missed that one.

Thank you.

[2020-01-11 11:58] #49 closed

[2020-01-13 15:48] ivoba opened #50 "Map to array/list of objects"
Is it possible to map to a typed list resp. an array of objects?

Imagine a class like this:

[code]

When mapping from an array i did this:

[code]

I guess it would be convenient to have a operation for this custom callback to map to a list.
Like:
`Operation::mapArrayToArray(Things::class);`

[2020-01-13 21:22] mark-gerarts commented on #50
Hi @ivoba. I might be understanding your use case wrong, but I think `mapTo` does what you want. Your config could look like this:

[code]

This works because `mapTo` supports both single and multiple values. Please let me know if this solved your problem!

[2020-01-14 09:41] ivoba commented on #50
@mark-gerarts yes you are right, this works as you describe.
Probably i had some wrong input data.
Thank you!

[2020-01-14 09:41] #50 closed

[2020-02-11 11:18] ivoba opened #51 "Operation::fromProperty with property path with dot notation"
This is probably a feature request:
Is it possible to use a property path with dot notation with Operation::fromProperty?

Its possible with the symfony PropertyAccessor:
https://symfony.com/doc/current/components/property_access.html#accessing-public-properties

Of course this can be achieved by a callback, but its quite tedious to create the callback and also check for existance of the property

[2020-02-20 12:04] Slayer911 opened #52 "Throw Exception instead "return;""
Please, change this comment to real exception
https://github.com/mark-gerarts/automapper-plus/blob/d5ca462e99deae8c6628d15d5c67ab479ad1b8b9/src/MappingOperation/DefaultMappingOperation.php#L49
When this library is one block of big system, bugs like this is hard detection, if here will be real exception, life will be better,  i think

[2020-02-22 12:36] mark-gerarts commented on #52
Yes, you are right. However, throwing an exception here could be a backwards incompatible change. I will definitely incorporate this in the 2.0 release though. Thanks for reporting!

[2020-02-22 13:53] mark-gerarts commented on #51
This would require some experimenting, since we can't use the Symfony property accessor as-is. The property accessor throws an error when it tries to read a private property, while this library has always supported this. It'll probably involve a decorated version of the accessor, as is done [here](https://github.com/nelmio/alice/blob/b7a0e6652570123b349ffa78dd7392cb58882013/src/PropertyAccess/Refl

[2020-02-22 15:40] mark-gerarts commented on #51
Release 1.3.8 now contains the mentioned fix, meaning the custom operation can be simplified:

[code]

[2020-02-25 11:05] Slayer911 commented on #52
Thank for great library)

[2020-02-25 14:25] ivoba commented on #51
@mark-gerarts Great!
I registered the custom accessor from above globaly and it works.

As i see there was a PR on the bundle that provides a symfony accessor: https://github.com/mark-gerarts/automapper-plus-bundle/pull/16/files

So basically using the symfony bridge accessor would also work, i guess?
auto_mapper_plus.yaml:

[code]
However not in my case as ->forMember isnt applied anymore on a re

[2020-02-25 18:34] mark-gerarts commented on #51
I've looked into this, and I'm honestly scratching my head why this is already sitting on the master branch of the bundle, because:

- It errors out on cache:clear because of a few obvious bugs in the bundle
- The bridge doesn't work as expected, returning null-values where it shouldn't

I apologize for this, and will dedicate some time in the weekend to fix the bugs and implement the proposed ver

[2020-02-27 14:44] eremem opened #53 "Operation::setTo omits target property if the source property doesn't exist"
My target class has a property which the source class is lacking. To this target property I would like to be able to assign a particular value during the mapping. According to the documentation Operation::setTo seems to do the job, but at the moment it ignores target properties for which there are no equivalent source properties. Is there any reason behind this behaviour? I looked at the Options o

[2020-02-27 16:29] mark-gerarts commented on #53
Yes you are right, this is not the intended behaviour. A fix for this has been pushed, it's available in release 1.3.9. Thanks for reporting!

[2020-02-27 16:29] #53 closed

[2020-03-03 20:50] mark-gerarts commented on #51
As an update: the changes are available on the bundle's master branch. I'm gonna tag a new release in the upcoming weeks, but I first want to include some more configuration options in the bundle while I'm at it.

[2020-03-06 17:02] ivoba commented on #51
@mark-gerarts I tried the changes in the bundle.
Work as expected :+1:

I guess we can close this issue.

[2020-03-06 17:02] #51 closed

[2020-04-07 18:07] krabouilleur opened #54 "Mapper add property to class which not have this properties"
I've a parent class and its child
[code]
With **doctrine**, when I "findAll" entityA, it **returns**:
[code]
Then I want to map the response Doctrine to this Model
[code]

When I want to map the doctrine response to the ModelA I've this result:
[code]
while the expected result should be :
[code]

The mapper copy "entitiesA" property (come from doctrine) in the class ModelB, while my class ModelB h

[2020-04-07 19:16] mark-gerarts commented on #54
Thank you for the report. This isn't the expected behaviour, but I can't seem to reproduce it. Can you provide a minimal working example where you encounter this problem?

I've quickly tried the following, but this works as expected:

[code]

Also: which version of the library are you using? Since you mention Doctrine, are you using the bundle?

[2020-04-07 20:02] krabouilleur commented on #54
I use :
mark-gerarts/auto-mapper-plus       1.3.9              An AutoMapper for PHP
mark-gerarts/automapper-plus-bundle 1.2.1              A Symfony bundle for AutoMapper+
doctrine/orm                        v2.7.2
doctrine/doctrine-bundle            2.0.7

Your example works because you don't you doctrine.
For example, in real case, doctrine returns this:
[result doctrine](https://ibb.co/myjN6yx

[2020-04-11 20:57] #54 closed

[2020-04-12 10:08] krabouilleur opened #55 "Is Automapper-plus able to convert array of object to object"
Hi,
Example : the array
$array =
[code]
Is automapper able to convert this array to an object like this ?
[code]

[2020-04-12 10:33] lashermes commented on #55
Here a full example without automapper:

[code]

THE RESULT without automapper:
[code]

[2020-04-13 10:06] mark-gerarts commented on #55
Hi @krabouilleur. The easiest solution would be to use [object crates](https://github.com/mark-gerarts/automapper-plus#the-concept-of-object-crates). This essentially tells the mapper to map all properties of the source object as public properties of the destination object. This works because the source array's property keys are its indices. As an example:

[code]

The alternative is using a [cust

[2020-04-25 17:41] krabouilleur opened #57 "Proxies with Doctrine"
Hi !

When we use Doctrine wich returns proxies, the mapper could not map : it maps property to null.

Is there a solution ?

example dump doctrine result :

[code]

`dump($company->getSecteur->getName())` : returns a string

but the mapper found "null"

[2020-04-26 08:51] mark-gerarts commented on #57
Hi @krabouilleur, yes this is a problem because Doctrine uses proxies to lazy-load entities. There are a few solutions:

- Add `fetch="EAGER"` to your Doctrine mapping or query, this tells Doctrine to fully load the referenced objects. It is best to only do this on queries where you actually use the proxies, for performance reasons.
- You can overwrite the property accessor to always load proxies

[2020-04-30 21:37] shadowhand opened #58 "Typed properties break mapping operations"
Having a typed property (PHP 7.4+), such as:

[code]

Causes mapping operations to fail when mapping to `Employee::class`. The same mapping operating works fine if the properties are declared without types.

[2020-05-01 09:40] mark-gerarts commented on #58
Thanks for letting me know, this breaks because typed properties without a value are not initialized internally. As a quick solution you can add a default value, e.g. `public string $name = ''`.

In the meantime I'll have to rework the `PropertyAccessor`.

[2020-05-01 10:28] mark-gerarts commented on #55
I'll assume this issue is solved. If you have any more questions, feel free to open a new issue or reopen this one!

[2020-05-01 10:28] #55 closed

[2020-05-01 11:08] mark-gerarts commented on #58
Hi @shadowhand, the new version (1.3.11) includes a fix, let me know if you encounter any more issues!

[2020-05-01 11:08] #58 closed

[2020-05-01 13:47] shadowhand commented on #58
@mark-gerarts thank you so much for the fast response!

[2020-05-04 12:12] VitaliiIsaenko opened #59 "Last version 1.3.11 is probably not minor upgrade :)"
I experience a problem after composer updated the minor version of the amazing library you develop.
As far as I understood it's because we don't use typed variables yet. We are still sticking to the annotations.
A very nice change but I'd suggest you consider implementing backwards capability or upgrade a major version of the library.
I can't achieve proper formatting of the stack trace so I will

[2020-05-04 12:14] ivoba commented on #51
@mark-gerarts would you mind tagging a release of the bundle, even when not all configuration options are yet done?

[2020-05-04 12:33] mark-gerarts commented on #59
Thanks for taking the time for the screenshots! I didn't expect this to be a BC breaking release, since all test from 7.1 to 7.4 were green. I'm guessing your code contains an edge case for which we don't have a test yet.

I'll investigate the problem and hopefully release a fix soon. In the meantime you'll have to stick to 1.3.10.

[2020-05-04 12:35] VitaliiIsaenko commented on #59
Sure, already rolled back. Let me know if any additional info would help you to identify this edge case and I can try to provide it.

[2020-05-04 12:40] mark-gerarts commented on #51
Release 1.3.0 is now available!

[2020-05-05 12:23] mark-gerarts commented on #59
Hi @VitaliiIsaenko, the fix was quite easy, but the hard part was trying to reproduce it. Is it possible that you use a custom constructor in your mapping that can sometimes return `null`?

I've pushed a fix for this scenario on `hotfix/reflection-class-null`. If you can confirm this fixes it for your use case, I'll merge it in master and tag a new release.

[2020-05-05 14:50] VitaliiIsaenko commented on #59
Yes, looks like it solves the problem, I don't have the issue with the fix :+1:

I don't have any custom constructor in the company model but I use this trick quite often (though don't know if it is related)
[code]

[2020-05-05 15:04] mark-gerarts commented on #59
I think that's exactly what's causing this :)

Anyway, thanks for letting me know that it works. The new version (1.3.12) is pushed!

[2020-05-05 15:04] #59 closed

[2020-05-12 16:40] jacksonveroneze commented on #57
Hello, I'm commenting on the issue because I have the updated version of lib and the problem persists. Someone managed to find a solution to the problem.

[2020-09-14 07:58] PartosK opened #60 "doctrine gets entities one by one"
I have entities that are related:
building, house, properties

[code]

[code]

the property has a Preset and when I just ask for Building, the auto-mapper starts filling in related entities and the Preset fills in one by one

[code]

how can you get rid of this behavior?

[2020-09-14 08:03] PartosK commented on #60
damn found the answer right there.....

fetch = "EAGER"

[2020-09-14 08:03] #60 closed

[2020-09-22 18:50] mark-gerarts commented on #57
Hi @jacksonveroneze - sorry, I completely missed your question. Do you still have the same problem? If so, can you give some more context? This so we can make sure it is the same problem as the original question, and to provide a starting point for debugging.

[2020-11-25 10:01] metham opened #61 "Custom Mapper with reverse map"
Hello everyone,

This package looks amazing and I am currently trying to use it for a project. I was wondering if it was possible to use the method reverseMap() on a custom mapper if it only maps attributes to other attributes without any work on the values itself ?

Or doing a custom mapper for this isn't the best practice with this package ? I wanted to use a custom mapper since I will have a lo

[2020-11-25 13:40] mark-gerarts commented on #61
Hi @metham. `reverseMap` applies to configuration you set with `forMember` (and only operations that are reversible). By setting a custom mapper you bypass this, since all the work is done by your custom mapper instead. Calling `reverseMap` won't work then.

Do you have an example of the data you're mapping? Since you mention that you don't do anything with the values itself, do you mean that you'

[2020-11-25 14:25] metham commented on #61
Hello @mark-gerarts, thank you for your fast answer.

Acutally a lot of things changed with the values I am dealing with and I have to make some modification before mapping them, I am now sure I can't use reverseMap in anyway now.

I am dealing with nested properties but only on one side of the mapping.

Thank you for the idea on the NameResolver, I will look into it !

I should close this issue s

[2020-11-25 14:28] #61 closed

[2020-11-25 17:08] peter-si opened #62 "Flattening objects and reusability"
Hi, I have a question regarding flattening objects and reusability of mappings for child objects. Imagine having structure like this:

[code]

This can result in a pretty big configuration, keeping me wondering, if this is not smaller/easier/faster (especially when I can't reuse my mapping, since I only have one unicycle in my system)

[code]

Now first question is, is it possible to write it some

[2020-11-25 18:08] mark-gerarts commented on #62
Hi @alulord, yes, your first question is a very valid feature request. Unfortunately it is not possible at the moment. The plan for v2 of the library is to integrate the Symfony property accessor, which would allow for the property path notation. I will have to be honest though, it can still be a while before I'm gonna work on bigger features like this, because it's a pretty busy time for me.

If

[2020-11-26 10:19] peter-si commented on #62
Hi @mark-gerarts thanks for quick reply (btw, I had to change that username to something more sensible:). Regarding my first question; I see you already have a branch named 2.0 is it there, where you are doing these changes? I also don't have much time to spare, just but in case. Anyway thanks for looking into it.

Regarding second question, I guess you wanted to write it like this:
[code]
And the

[2020-11-30 08:16] meekowhy opened #63 "Operation::setTo(true)"
Description of this operation says: "Always sets the property to the given value" but actually its not true - it will only set property to the given value in the target class if the source class has the same property name defined.. It doesnt make sense to me. I would like my mapper to always set given property to a given value, but I cant do it using setTo operation. Solution to this problem would

[2020-11-30 08:30] mark-gerarts commented on #63
You're right, `setTo` should not check if a property with the same name exists on the source object. Are you saying that it does not work for you this way? If so, can you provide a minimal configuration in which this occurs? For example the following configuration shows that it should in fact ignore existence of source properties:

[code]

[2020-11-30 08:42] meekowhy commented on #63
Hello, thank you for fast answer.. ok it seems the problem is me having older automapper version.. :- )

[2020-11-30 08:42] #63 closed

[2020-12-06 10:34] fd6130 commented on #57
We can create a custom mapper for each mapping, inject your repository, fetch it and map it to your destination. It is kind of redundant but it works as well.

[2021-01-05 09:30] peter-si opened #64 "Map to multiple operation and map from method operation"
Hi, I would like to add 2 operations and wanted to know if it is wanted or can't be done already with some other operations. I'll start with the easier one:

**fromProperty**

we have quite a few mappings like this
[code]
this could be quite easily done with something like
[code]

**mapToMultiple**

the more complicated one - support polymorphism. Sometimes we have a collection of different object

[2021-01-18 11:33] praad opened #65 "Update object without creating new"
Given $object1 and $object2 with same type.
How can I update $object1 attributes with the not null values of $object2. Is it possible?

[2021-01-18 14:00] mark-gerarts commented on #65
If I understand correctly you have the following situation:

1. Object A and B are of the same type
2. You want to map the values of A to the *existing* object B
3. You want to ignore null values when doing so

If this is correct, the following snippet should help:

[code]

This outputs:

[code]

If I misunderstood, please let me know.

[2021-01-18 21:29] Gtvar opened #66 "DataLoader for avoid N+1 problems"
I need to avoid a N+1 problem uses DataLoader or similar solution.

I have collection of Entities and each model load from DB or from REST some data.
[code]
I want to collect all paths, load in batch and then resolve for each object. Do you have any suggestions how I can do this?

[2021-01-19 14:53] mark-gerarts commented on #66
I don't think there is a nice way do to this. You would have to loop over all your entities, collect the paths in batch, and then use that data instead of direct DB/API calls. Once you have that data, you can use it in the `forMember` callback.

I don't see how this library could do something else to remedy this situation, unless I'm misunderstanding something?

[2021-01-21 11:32] Gtvar commented on #66
OK, I see, I will try to load all data before mapping or as options use custom mapper, tnx!

[2021-01-21 11:32] #66 closed

[2021-01-21 13:29] praad commented on #65
Thanks this was a glue $config->getOptions()->ignoreNullProperties();

[2021-01-22 13:58] #65 closed

[2021-01-22 15:34] praad opened #67 "What about polymorphism?"
Is there any easy way to map polymorph property?

The polymorph property can be class A or B or C. Both classes extends the same abstract classes.
Unfortunately I can not make a mapper for the abstract class itself.

[2021-01-23 15:13] mark-gerarts commented on #67
Polymorphism is supported. If no mapping is found, we will look up the inheritance chain to see if a parent mapping is registered. Take a look at the following snipper:

[code]

I've used `\stdClass` here, because I noticed a bug with polymorphism when mapping to/from array - perhaps this is what you are doing? I'll look into fixing it.

[2021-01-23 15:30] mark-gerarts commented on #67
Mapping *from* an array has been fixed (mapping *to* an array is not available in 1.x).

Let me know if the above provides an answer for you!

[2021-01-23 15:49] mark-gerarts commented on #64
Hi @peter-si, thank you for creating this issue.

**fromProperty / fromMethod**

Seems a useful operation - if you open up a PR for this I'll gladly merge it!

**Polymorphism**

What's the behaviour here - loop through each option provided, and map to the first target for which a mapping exists? Seems a useful addition as well!

I'm not sure about the name though, `mapToMultiple` implies mapping t

[2021-01-26 11:06] #62 closed

[2021-01-28 08:18] peter-si commented on #64
Ok, I'll do it today. And yes, that's exactly how I pictured that polymorphism feature. I'm not too attached to `mapToMultiple`, so `mapToOneOf` it is

[2021-01-28 13:50] peter-si commented on #64
Oh right a bit of misunderstanding on my part. My goal was to have an array of objects mapped to a different array of objects. Not single value to one of provided classes (it can work both way though). So in that regart `mapToOneOf` is not a good name since we won't necessarily get a single value

[2021-01-28 14:49] peter-si commented on #67
@praad I believe you want to map that polymorphic property to something like this?
A -> ADto
B -> BDto
C -> CDto

If so check out my recent pull request https://github.com/mark-gerarts/automapper-plus/pull/70 where I added `mapToMultiple` operation

[2021-02-15 15:06] praad commented on #67
Hi Peter! Yes I need a solution like this. How can I include your new feature by composer.json to our existing project to test?

[2021-02-22 08:04] peter-si commented on #67
@praad try adding my repo as [private repository](https://getcomposer.org/doc/05-repositories.md#using-private-repositories) and add it to composer json as

[code]

[2021-02-22 08:22] mark-gerarts commented on #67
I'll look into the PR this weekend, and if all is well I'll tag a new release.

[2021-03-04 08:56] kamdrum opened #71 "Support for PHP 7.4 class typed properties mapping"
The mapper doesn't map to class typed properties. Can it be somehow configured or is it not supported?

[2021-03-04 09:12] mark-gerarts commented on #71
Hi @kamdrum, this should be supported starting from 1.3.11. If you're on this version or higher, can you show an example of it not working?

[2021-03-04 10:00] kamdrum commented on #71
Hi @mark-gerarts, thank you for your prompt answer.
I'm on version 1.3.0 and it's marked as the latest release, so how can I update it to version 1.3.11?

[2021-03-04 10:11] mark-gerarts commented on #71
That's weird, the latest release should be 1.3.12 ([packagist](https://packagist.org/packages/mark-gerarts/auto-mapper-plus#1.3.12)). Unless you're using the Symfony bundle? In that case an `update --with-dependencies` of the bundle should do the trick.

[2021-03-04 11:58] kamdrum commented on #71
Thank you for your help - now it works properly :)

[2021-03-04 12:24] #71 closed

[2021-03-05 08:55] Jean85 opened #72 "Psalm annotations"
I'm currently using this project and Psalm. Obviously static analysis has some issues to understand what this mapper does, but I think that with a couple of annotations it would be fairly easy to explain what's happening type-wise.

Would you be interested in a PR that adds annotations for improving static analysis?
Would you prefer replacing the current annotations or just adding `@psalm-*` ones

[2021-03-11 07:58] fd6130 commented on #67
Wow, i didn't know that this automapper support inheritance classes. So now we don't have to write lots of new class with duplicate code just because of 1 or 2 new property.

[2021-03-11 08:46] fd6130 commented on #34
@mark-gerarts Sorry for bump this old issue. For the solution above it is great for mapping a new object for the destination class.

How about mapping an existing entity object to destination class?

[code]

[code]

[2021-03-11 20:04] mark-gerarts commented on #72
Hi @Jean85, I don't have any experience with psalm myself, unfortunately. I'm definitely all for a PR that makes life easier for psalm users, but could you explain the difference between replacing the annotations and adding them? Are there any (dis)advantages between the two?

From a quick glance at the [docs](https://psalm.dev/docs/annotating_code/supported_annotations/) my understanding is that

[2021-03-11 20:41] mark-gerarts commented on #34
No problem! You should be able to just fetch your entity from the repository where you indicate it. Unless I'm missing something, then please explain the issue some more.

The code could look something like this:

[code]

[2021-03-12 04:13] fd6130 commented on #34
How about doctrine collection? Like when the property is OneToMany / ManyToMany relation.

[code]

[2021-03-12 08:39] Jean85 commented on #72
Yes, you got it right: `@psalm-*` annotations are more specific and can be put alongside the normal one, so to not break tools (like IDEs) that do not understand them.

I think that the best way to make it work correctly would be to introduce Psalm into your codebase and CI, so to have a tool that checks the correctness of such annotations; are you open to a PR of such kind?

[2021-03-12 09:59] aaron2212 opened #73 "Possible typo In README File"
Checking how to create nested DTO mappings, I came across the section in the README file `Dealing with nested Mappings`. I was confused for some time with the line that reads

`$config->createMapping(Child::class, ChildDto::class);`

As far as I am aware, there doesn't seem to be a method name `createMapping`, but rather `registerMapping`. Everywhere else in the README file has the method `registe

[2021-03-12 10:05] mark-gerarts commented on #72
Yes absolutely! I've added PHPStan to the 2.0 branch, but that branch is still very much WIP. Psalm and PHPStan can perfectly coexist together, so feel free to open up a PR to the master branch. It'll be my problem to merge it in the 2.0 branch then.

[2021-03-12 10:08] mark-gerarts commented on #73
Good catch! If you're willing to open up a PR, I'll be happy to merge it. Otherwise I'll take a look at it myself.

[2021-03-13 08:57] fd6130 opened #76 "Encode a password during mapping in forMember()"
To encode a password in symfony, we have to use `UserPasswordEncoderInterface` to encode the password. It will need to pass the User entity as first parameter for the method `encodePassword()`.

It will be cool if we could do something like

[code]

[2021-03-13 09:27] fd6130 commented on #76
I found this https://github.com/mark-gerarts/automapper-plus#adding-context

The $context got the destination i need, but i saw this line in the doc

Is it usable in current version?

[2021-03-15 09:56] ghost commented on #73
@mark-gerarts I will do that. How do I go about creating a PR since I'm not a collaborator on this repo? I just get a 403 forbidden when I try to push to a separate branch.

[2021-03-15 10:04] mark-gerarts commented on #73
You have to fork the repo first, and add the changes on your own fork. After you've done this, a "pull request" button should appear on this repo (as per the [docs](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork)).

Alternatively,I believe you can use the edit icon in the [Github UI](https://github.com/mark-gerarts/automapper-plus/

[2021-03-15 10:23] ghost commented on #73
@mark-gerarts created a PR https://github.com/mark-gerarts/automapper-plus/pull/77

[2021-03-15 10:56] mark-gerarts commented on #73
Great, I merged it. Thank you for contributing!

[2021-03-15 10:56] #73 closed

[2021-04-13 14:45] DemigodCode opened #78 "MapToObject with nested Objects"
When mapping to an object, MapTo::getSourceValue should also use mapToObject instead of creating an new one with map()

[2021-11-30 18:26] alvaro-octal opened #80 "Mapping string into DatetimeInmutable"
Hi,

I was taking a look at the issues, but haven't found any similar, is there a way to map a string into a Datetime/DatetimeInmmutable by default? I mean, I have the following entity:

[code]
And by using this mapper it results in a error, because the library is not able to determine a mapper for string to DateTimeInmutable of the `createdAt` property.

[code]

[code]

Of course I can add anothe

[2021-11-30 18:59] mark-gerarts commented on #80
No, this is not possible currently. If you have multiple recurring properties (`createdAt`, `changedAt`, `deletedAt`, ...), you could use [`copyMapping`](https://github.com/mark-gerarts/automapper-plus#copying-a-mapping).

I can see the usefulness though, in a more generic sense: if a mapping exists from source type A to destination type B, automatically apply it. I am afraid that this is not a tr

[2021-11-30 20:27] alvaro-octal commented on #80
Ok, thanks!

[2022-02-04 11:44] mark-gerarts opened #81 "Migrate CI to Github actions"
CI was originally set up using Travis but should be migrated to Github actions. This has already been done for [the Symfony bundle](https://github.com/mark-gerarts/automapper-plus-bundle/pull/24) (thank you @malteschlueter!), we can possibly use that as a base.

[2022-03-14 20:20] mark-gerarts commented on #64
As discussed in #70, this has been implemented as `MapToAnyOf`.

[2022-03-14 20:20] #64 closed

[2022-04-29 15:21] fd6130 commented on #67
Can close this issue since #70  already merged.

[2022-07-27 23:37] dingledorf opened #82 "Map to object where properties are in a single associative array"
Hey there,

I was wondering if there was an easy way to map to a destination object where all the properties are in a single associative array?

For example

[code]

and MapTo

[code]

[2022-07-29 11:16] pysarenkoa opened #83 "Allow context for map() with CustomMapper"
Allow context as third argument CustomMapper->mapToObject($source, $destination, array $context = []).
As result it works for mapToObject(), but not for map().
Propose:
line https://github.com/mark-gerarts/automapper-plus/blob/master/src/AutoMapper.php#L92
[code]
replace to
[code]

[2022-07-31 11:35] mark-gerarts commented on #82
Hi @dingledorf, I don't believe there is an easy/straightforward way. One way to do this is by registering a mapping to an array, and then using that mapping to set the property using `mapFrom`. One caveat here is that mapping *to* arrays is not supported in v1, so a workaround is mapping to `stdClass` and casting to array. As I said, it's not straightforward :slightly_smiling_face:

[code]

[2022-07-31 11:38] mark-gerarts commented on #83
Hi @pysarenkoa, this seems like a very reasonable thing to add. Do you want to open up a PR for this? Otherwise I'll look into adding this myself, let me know.

[2022-07-31 14:55] pysarenkoa commented on #83
Hi @mark-gerarts, thanks for your quick response. It will great if you do this yourself.

[2022-08-03 11:28] camerpu opened #84 "Skip null fields"
Hi, I'd like to know why this overwriten function:
[code]
In MapFrom.php
doesn't have this check from his parent:
[code]
In this case, when I use mapToObject, it won't skip null fields even I configured it in options by:
[code]

[2022-08-04 07:32] mark-gerarts commented on #84
That's a very good question actually... It does seem I specifically added this behavior, as per [this commit](https://github.com/mark-gerarts/automapper-plus/commit/ac466ccea2d3617791438955562e91cc013f431a#diff-9ef79e8d8aec5666a99b4b15470498ede115b03147bc8bdcbbce4a742a09f8a1R43). The commit doesn't mention any reason, nor are there any related issues around that time. When I think about it, I have

[2022-08-04 07:46] camerpu commented on #84
Ok, thank you for the fast response and help :)

[2022-08-04 07:57] mark-gerarts commented on #83
This has been added in release 1.4.0. Keep in mind that the minimum PHP version has been bumped to 7.4 for this release, since 7.3 and below are EOL.

[2022-08-04 07:57] #83 closed

[2022-08-04 07:57] #81 closed

[2022-08-04 07:58] #67 closed